.container-body{
   background-color: #001935;
   height: 40vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.titulo-fate{

    font-size: 300%;
    color: rgb(255, 255, 255);
    font-family: "Major Mono Display", serif;
    font-weight: 990;
    font-style: normal;
    top: 35%;
    left: 5%;
    width: 90%;
    position: fixed;
}

.butao-start{
  top: 60%;
  left: 8vh;
  font-size: 120%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(0, 24, 44);
  width: 28%;
  height: 5vh;
  background-color: #bad9fc;
  position: fixed;
  }

.butao-dados {
  top: 60%;
right: 8vh;
font-size: 120%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
color: rgb(0, 24, 44);
width: 28%;
height: 5vh;
background-color: #bad9fc;
position: fixed;
}

