.conteiner-dado{
    background-color: #001935;
   height: 52vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
.conteiner-emoji{
    top: 40%;
    font-size: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
}
.titulo-historia{
    height: 35%;
    font-size: 150%;
    color: rgb(240, 246, 255);
    font-family: "Major Mono Display", serif;
    font-weight: 90%;
    font-style: normal;
    position: fixed;
}

.titulo-dado{
    height: 50%;
    right: 5;
    font-size: 230%;
    color: rgb(255, 255, 255);
    font-family: "Major Mono Display", serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
}

.emoji-emoji{
   top: 48%;
    margin: 10%;
    font-size: 120%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(0, 24, 44);
    width:40%;
    height: 5vh;
    background-color: #bad9fc;
    position: fixed;
}

.voltar{
    top: 25%;
    left: 1vh;
    width:6vh;
    font-size: 240%;
    background-color: #bad9fc00;
    border-radius: 5vh;
    border-color: #00193500;
    height: 6%;
    position: fixed; 
}